.bullets {
    list-style-type: none;
    color: #b7d7d9;
    display: inline-block; 
    font-weight: bold;
}

.floating-box {
    margin: 1px;
    display: inline-block; 
    vertical-align: top;
}

.trainerToolbar {
    color: black;
    display: inline-block;
    background-color: white;
  }

