.chess-square-white {
    fill: #ffffff;
    stroke-width:1;
    stroke:rgb(0,0,0);
  }
  
  .chess-square-black {
    fill: #b7d7d9;
    stroke-width:1;
    stroke:rgb(0,0,0);
  }

  .white-piece {
    opacity: 1;
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1;
  }

  .white-circle {
    fill: #9e4a4a;
    stroke: #9c4747;
    stroke-width: 1.5;
  }
  
 
  .black-piece {
    fill:none; 
    fill-opacity: 1;
    fill-rule:evenodd;
    stroke: #000000;
    stroke-width: 1.5;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:4; 
    stroke-dasharray:none; 
    stroke-opacity:1;
  }
  
  .black-body {
    fill:#000000;
    stroke:#000000;
    fill-opacity:1;
    stroke-linecap:butt;
    stroke-linejoin:miter;
  }

  .white-body {
    fill:#ffffff;
    stroke:#000000;
    fill-opacity:1;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    fill-rule:evenodd;
    stroke-width:1.5;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1;
  }

  .white-line {
    fill:none;
    stroke:#ffffff;
  }

  .black-line {
    fill:none;
    stroke:#000000;
  }

  .white-line-inner {
    fill:#ffffff;
    stroke: none;
  }

  .black-line-inner {
    fill:#000000;
    stroke: none;
  }

