.chess-square-white {
    fill: #ffffff;
    stroke-width:1;
    stroke:rgb(0,0,0);
  }
  
  .chess-square-black {
    fill: #b7d7d9;
    stroke-width:1;
    stroke:rgb(0,0,0);
  }
 
  .king {
    fill: none;
    fill-opacity: 1;
    fill-rule: evenodd;
    stroke: #000000;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1;
  
  }
  
  .king > path {
    fill: none;
    stroke: #ffffff;
    stroke-linejoin: miter;
  }
  .king > path:nth-child(3) {
    fill: #000000;
  }
  .king > path:nth-child(4) {
    fill: #000000;
    stroke: #ffffff;
  }