<nav>
    <button class="again-button" mat-icon-button matTooltip="Again" (click)="redoSequence()">
        <mat-icon>redo
        </mat-icon>
    </button>
    <button mat-icon-button matTooltip="Previous" (click)="prevSequence()">
        <mat-icon>skip_previous
        </mat-icon>
    </button>
    <button mat-icon-button matTooltip="Next" (click)="nextSequence()">
        <mat-icon>skip_next
        </mat-icon>
    </button>
</nav>

<app-chessboard class="floating-box"></app-chessboard>
<section class="floating-box" [style.max-width.px]="displayWidth">
    <section class="floating-box" *ngIf="record !== undefined">
        <ul class="bullets">
            <li [ngStyle]="{color: record.colour}">{{ record.name }}</li>
            <li [ngStyle]="{color: record.colour}">{{ "Last completed correctly: " + record.lastS }}</li>
            <li [ngStyle]="{color: record.colour}">{{ "Next attempt due: " + record.nextS }}</li>
        </ul>
    </section>
    <section class="floating-box">
        <ul class="bullets" [ngStyle]="{color: outputColour}">
            <li *ngFor="let line of output">{{ line }}</li>
        </ul>
    </section>
</section>