<app-header></app-header>
<br>
<h2>Chess Opening Trainer</h2>
<p>This is a web app to help with learning chess openings.</p>
<h3>Why</h3>
<p>If you don't know any openings, or always play the same opening, chess becomes very boring and limiting. But
    learning openings is a major pain in the aris. Experts always say that you shouldn't try to rote-learn openings but
    should understand the principles behind an opening that you are trying to learn. Fair enough, except I forget the
    principles very quickly. I can watch a video where a teacher explains an opening, and understand it, but when the
    situation comes up in practice I find that I've completely forgotten what to do - I forget the moves and the
    principles. But I've tried rote-learning openings too but found it very difficult. And then GingerGM goes and says
    that you need to know the first 10 moves of each opening. 'I'm screwed', I thought.</p>
<p>
    This is an attempt to learn openings by playing out the first few moves of an opening in a rote-learning fashion.
    The app plays against you and plays the same moves for each sequence that you are hoping to learn. By having a
    sequence of moves I'm hoping that it will be possible to be reminded of the principles behind the opening as well
    as the actual moves to make. And maybe remembering a sequence will be easier than remembering individual moves.
    Also, as I tend to play 5 minute blitz, and I'm a very low-ranked player (1150 ish), at this level we tend to just
    throw our pieces out onto the board and so exact move order and precision don't make that much difference; it's
    more important to know the general direction that the pieces need to be going.
</p>
<p>
    I have no idea if this will be helpful but I'm going to try.
</p>
<p>
    It is still work-in-progress.
</p>
<p>It uses the chessboard from <a href="https://github.com/shlomiassaf/ngx-chess">
    ngx-chess</a></p>
<p>
    My name is David Ma and I'm the oldest, fattest and most foolish man in the world.</p>