<app-header></app-header>
<br>
<chessboard></chessboard>
<br>
<div class="btn-toolbar">
	<button (click)="flipBoard()" class="btn btn-primary">Flip
	</button>
	<button (click)="resetMoves()" class="btn btn-primary">Reset Moves
	</button>
</div>


<pre>{{ output }}</pre>

<form (ngSubmit)="onFenSubmit()" #fenForm="ngForm">
	<div class="form-group">
		<label>Enter a fen to start sequence.</label>
		<input type="text" class="form-control" id="fen" required [(ngModel)]="model.fen" name="fen" #fen="ngModel">
	</div>



	<button type="submit" class="btn btn-success">Submit</button>

</form>